.contact-footer {
    justify-content: space-around;
    background-color: #f5f5f5;
    padding: 20px;
    display: flex;
    text-align: center;
  }

  #FormHeader{
    font-size: 20px;
  }

  .contact-item {
    flex: 1;
    max-width: 300px;
  }
  
  .contact-item a {
    color: #0077cc;
    text-decoration: none;
    font-weight: bold;
  }
  

  