#YogiHifi{
    width: 650px;
}

#YogiWire{
    width: 700px;
}

@keyframes fadeInRightToLeft {
    from {
        opacity: 0;
        transform: translateX(20px); /* Start slightly to the right for the fade-in effect */
    }
    to {
        opacity: 1;
        transform: translateX(0); /* Fade in and move to the original position */
    }
  }

.Yogi {
    max-width: 900px;
    margin: 0 auto;
    margin-top: -70%;
    margin-right: 100px;
    border-radius: 10px;
    max-width: 600px;
    color: #807e7e;
    animation: fadeInRightToLeft 1.5s ease-out forwards;
  }

  #Yogi-overview, #Yogi-contribution{
    font-size: 24px;
    color: #757373;
  }

  #yogi-overview-intro1, #yogi-contribution-intro1{
    font-size: 20px;
    color: #757373;
  }

  .Yogi-process{
    margin-bottom: 10%;
    margin-top: 200px;
    animation: fadeInRightToLeft 1.5s ease-out forwards;
  }

  #Yogi-intro1{
    font-size: 35px;
    transform: translateY(75%);
    color: #807e7e;
    margin-left: 45%;
  }

  #YogiWire{
    width: 800px;
    margin-top: 5%;
    margin-left: 35%;
   }
   #initial{
    transform: translateX(35%);
    margin-top: -30%;
    text-align: right;
    max-width: 300px;
    color: #807e7e;
    font-size: 20px;
   }

  #attentive{
    font-size: 35px;
    color: #807e7e;
    margin-top: 15%;
    margin-left: 28%;
  }
  #cloud{
    text-align: right;
    max-width: 550px;
    color: #807e7e;
    font-size: 20px;
    margin-left: 10%;
    margin-top: -35%;
   }


   #ip13Yogi{
    width: 300px;
    margin-top: 5%;
    margin-left: 60%;
   }

   .cloud{
    margin-bottom: 10px;
   }

   #Yogi-intro2{
    font-size: 35px;
    color: #807e7e;
    margin-top: 30%;
    margin-left: 35%;
  }

  #YogiHifi{
    width: 800px;
    margin-top: 5%;
    margin-left: 5%;
   }

   #hifi-details{
    text-align: center;
    max-width: 400px;
    color: #807e7e;
    font-size: 20px;
    margin-left: 67%;
    margin-top: -35%;
   }

   #colors{
    width: 400px;
    margin-left: 7%;
   }

   .Yogi-layout{
       margin-bottom: 25%;
   }

